@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #12192C;
  --second-color: #F5A623;
  --white-color: #EDEDED;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 0 0 5rem;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

/*Show menu*/
.show {
  width: 168px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
  flex-wrap: wrap;
}

.search-bar input,
.search-bar select {
  width: 30%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .search-bar {
      flex-direction: column;
      align-items: stretch;
  }

  .search-bar input,
  .search-bar select {
      width: 80%;
      margin-bottom: 10px;
  }
}

/* Music List */
.music-list {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px #12192C;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #222;
  color: #fff;
}

td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.tag {
  display: inline-block;
  background-color: #eee;
  color: #333;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
}


/* Phong Cách Điều Khiển Nhạc */
.music-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #12192C;
  color: #fff;
  padding: 5px 10px; /* Giảm padding */
  border-radius: 2px;
  position: fixed; /* Cố định ở dưới cùng trang */
  bottom: 0;
  right: 0; /* Đặt ở bên phải */
  width: 96.5%; /* Giảm chiều dài */
  z-index: 1000; /* Đảm bảo nằm trên các phần tử khác */
  height: 60px; /* Thiết lập chiều cao */
}

.music-control-cover {
  width: 40px; /* Giảm kích thước ảnh bìa */
  height: 40px; /* Giảm kích thước ảnh bìa */
  object-fit: cover;
  border-radius: 4px;
}

.music-control-info {
  margin-left: 10px;
}

.music-control-title {
  font-size: 14px; /* Giảm kích thước chữ */
  font-weight: bold;
}

.music-control-artist {
  font-size: 12px; /* Giảm kích thước chữ */
  color: #bbb;
}

.music-control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.music-control-buttons i {
  margin: 0 3px; /* Giảm khoảng cách giữa các nút */
  cursor: pointer;
}

.music-control-progress {
  display: flex;
  align-items: center;
}

.music-control-progress span {
  margin: 0 3px; /* Giảm khoảng cách giữa các phần tử */
}

#progress-bar {
  width: 100%;
  margin: 0 10px;
  cursor: pointer;
}

.music-control-buttons i.active {
  color: #4070f4;
}
/*Loading CSS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Loading Animation Styles */
.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 1s ease-out, opacity 1s ease-out; /* Adjust duration here */
}

.animation {
  height: 95px;
  display: flex;
  transform: rotate(180deg);
}

.animation span {
  width: 38px;
  margin: 0 2px;
  border-radius: 6px;
  animation: loader 2s infinite;
}

@keyframes loader {
  0%, 100% {
    height: 15px;
    background: #0081C9;
  }
  25% {
    height: 95px;
    background: #FFB100;
  }
  50% {
    height: 50px;
    background: #54B435;
  }
  75% {
    height: 95px;
    background: #FF6464;
  }
}

.animation span:nth-child(1) {
  animation-delay: .2s;
}

.animation span:nth-child(2) {
  animation-delay: .4s;
}

.animation span:nth-child(3) {
  animation-delay: .6s;
}

.animation span:nth-child(4) {
  animation-delay: .8s;
}

.animation span:nth-child(5) {
  animation-delay: 1s;
}

.animation-container.slide-up {
  transform: translateY(-100%);
  opacity: 0;
}

.contact-container {
  min-height: calc(95vh - var(--header-height)); /* Ensure it doesn't exceed the viewport height */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Ensure other sections are properly managed */

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

.contact-left button img {
  height: 15px;
}

.contact-right img {
  width: 550px;
  height: 500px;
}

@media (max-width: 800px) {
  .contact-inputs {
      width: 80vw;
  }
  .contact-right {
      display: none;
  }
}

/*Custom scrollbar*/
::-webkit-scrollbar{
  width:15px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
